*{
	margin:0;
	padding:0;
}
.wrapper{
	width:600px;
	height:800px;
	background:black;
	margin:0 auto;
}
.header{
	width:600px;
	height:100px;
	background:#c4a35a;
}
.logo{
	width:100px;
	height:100px;
	background:#c66b3d;
	float:left;
}
.header-content{
	width:400px;
	height:60px;
	background:#c66b3d;
	float:right;
	margin-top:20px;
}
.content{
	width:600px;
	height:600px;
	background:black;
}
.top{
	width:600px;
	height:300px;
	background:#c4a35a;
}
.left-1{
	width:400px;
	height:300px;
	background:black;
	float:left;
}
.right-1{
	width:200px;
	height:300px;
	background:#c66b3d;
	float:right;
}
.left-2{
	width:300px;
	height:300px;
	background:#c66b3d;
	float:left;
}
.right-2{
	width:300px;
	height:300px;
	background:#e5e5dc;
	float:right;
}
.footer{
	width:600px;
	height:100px;
	background:#c4a35a;
}
.footer-content{
	width:400px;
	height:60px;
	background:#c66b3d;
	float:left;
	margin-top:20px;
}
.footer-logo{
	width:100px;
	height:100px;
	float:right;
	background:#c66b3d;
}

	

	

	

	
	
	
	

	